.headerSection {
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.headerImage img{
    width: 10%;
 
}
.listaMenu {
    display: flex;
    flex-direction:row;
    
}
.MenuEsquerda {
list-style-type: none;
display: flex;
flex-direction: row;
}
 .MenuEsquerda li {
    padding-left: 15px;
 }

 .hero-image {
    background-image: url(/images/landing.jpg);
    width: auto;
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    
    
}
.herotext {
    color: white;
    text-align: center;
    align-items: center;
    width: 350px;
    
}
 .alinment {
    text-align: center;

 }

.alinment div {
    display: flex;
    justify-content: space-around;
    text-align: center;

}

.icon {
    height: 120px;
    width: auto;
}
.space {
    display: flex;
    flex-direction: column;
}
 
.space h3 {
    color: #00B172
    ;
}

.backgroudG {
    background-color: #00B172;
    color: white;
    display: flex;
    justify-content: space-around;
    position: ;
    
}
.image1 {
    height: 80px;
    width: auto;
    
}
.image2 {
    height: 500px;
    width: auto;
    margin-left: 50px;
    
}

.divimage {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    margin-right: 30px;
  
}
.text p{
    width: 200px;

}
.text {
margin-top: 70px;
 margin-left: 20px;
}